.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    color: #fff;
    background-color: #23468b;
    position: absolute;
    width: 100%;
    bottom: 0;
}

ul {
    display: flex;
}

ul li {
    margin: 10px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li a:hover {
    color: #ad1c23;
}

.footer p {
    margin: 0 0 10px 0;
}